* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-image: url();
    background-size: 1500px 1000px;
    background-attachment:fixed;
    position:absolute;
}

img {
    max-width: 100%;
}