*{
    box-sizing: border-box;
}

body {
    margin:0px;
    padding:0px;
    background-repeat: no-repeat;
    background-image: url(monet.jpg);
    background-size: 1500px 1000px;
    }

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
}
    
p {
    color:white;
    border-width: 150px white;
    font-size:25px;
    }
    
    h1 {
        color:deeppink;
        background-color: white;
        text-decoration:underline;
    }

ul {
    padding: 30px;
    margin:0px;
}

.grid-container {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-wrap: wrap;
    grid: 100px / auto auto;
    background-image: linear-gradient(to top, rgb(255, 111, 0), rgb(255, 110, 161));
    padding: 30px;
    gap: 30px;
    align-items: center;
    align-content: center;
}
  
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 30px;
    padding-bottom: 40px;
    font-size: 25px;
    align-items: center;
    align-content: center;
}
