html {
    background-color:rgb(232, 163, 200);
    }
    
    p {
    color:white;
    font-size:25px;
    }
    
    h1 {
        color:deeppink;
        border: 10px solid white;
        text-decoration:underline;
    }