html {
    background-color:rgb(231, 158, 197);
    }
    
    p {
    color:white;
    font-size:25px;
    }
    
    h1 {
        color:deeppink;
        background-color: white;
        text-decoration:underline;
    }