html {
    background-color:rgb(231, 158, 197);
    }
    
    p {
    color:white;
    font-size:25px;
    }
    
    h1 {
        color:deeppink;
        background-color: white;
        text-decoration:underline;
    }

    ul {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    ol {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    h2 {
        color: white;
    }