* {
    box-sizing: border-box;
}
 body {
    margin: 0px;
    padding: 0px;
 }
body {
    background-repeat: no-repeat;
    background-size: 1500px 1000px;
    margin:0px;
    padding:0px;
    background-image: url(lotus-pond.jpg), linear-gradient(to top, rgb(13, 48, 80), rgb(255, 110, 161));
}

.container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgb(2, 29, 54), rgb(255, 110, 161));
    opacity:0.45;
}

.section1 {
    background-color: black;
    height: 5%;
    opacity: 100%;
} 

.section2 {
    background-color: rgb(168, 0, 0);
    height: 25%;
    opacity: 100%;
} 
.section3 {
    background-color: rgb(243, 255, 78);
    height: 15%;
    opacity: 100%;
} 

.section4 {
    background-color: purple;
    height: 15%;
    opacity: 100%;
} 

.section5 {
    background-color: rgb(255, 255, 255);
    height: 5%;
    opacity: 100%;
    align-items: stretch;
} 

.section6 {
    background-color: rgb(98, 46, 46);
    height: 60%;
    opacity: 100%;
    align-items: stretch;
} 

.columnbase {
    background-color: aqua;

}
/* .container {
    background: url(lotus-pond.jpg);
    margin: 0px;
    width: 1500px;
    height: 1000px;
    padding: 0px;
    background-attachment: fixed;
    background-size: contain;
    position: relative;
    display:flex;
} */

/* .gradient {
    height: 100%;
    width: 100%;
    background-image: 
    linear-gradient(to top, rgb(13, 48, 80), rgb(255, 110, 161));
    background-color: aqua;
    position: absolute;
    opacity: 0.25;  
    top:0;
    left;0;
} */

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
}
