* {
    box-sizing: border-box;
}

h1 {
        font-family: "The Nautigal", cursive;
        font-weight: 400;
        font-style: normal;
}

body {
    background-repeat: no-repeat;
    background-size: 1500px 1000px;
    margin:0px;
    padding:0px;
    background-image: url(lotus-pond.jpg), linear-gradient(to top, rgb(13, 48, 80), rgb(255, 110, 161));
}

.container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgb(2, 29, 54), rgb(255, 110, 161));
    opacity:0.45;
}

.section1 {
    background-color: black;
    height: 50px;
    opacity: 100%;
} 

.section2 {
    background-color: rgb(168, 0, 0);
    height: 250px;
    opacity: 100%;
} 
.section3 {
    background-color: rgb(243, 255, 78);
    height: 150px;
    opacity: 100%;
} 

.section4 {
    background-color: purple;
    height: 150px;
    opacity: 100%;
} 

.section5 {
    background-color: rgb(255, 255, 255);
    height: 50px;
    opacity: 100%;
    align-items: stretch;
} 

.section6 {
    background-color: rgb(98, 46, 46);
    height: 350px;
    opacity: 100%;
    padding: 10px;
    align-items: stretch;
    display: flex; 
    flex-direction: row;
    text-wrap: nowrap;
    justify-content: center;
    column-gap: 40px;
} 

.columnbase {
    background-color: aqua;
    border: 5px solid white;
    justify-content: center;
    padding: 30px;
    align-content: center;
    align-items: center;
    

}
/* .container {
    background: url(lotus-pond.jpg);
    margin: 0px;
    width: 1500px;
    height: 1000px;
    padding: 0px;
    background-attachment: fixed;
    background-size: contain;
    position: relative;
    display:flex;
} */

/* .gradient {
    height: 100%;
    width: 100%;
    background-image: 
    linear-gradient(to top, rgb(13, 48, 80), rgb(255, 110, 161));
    background-color: aqua;
    position: absolute;
    opacity: 0.25;  
    top:0;
    left;0;
} */

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
}
